@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #011936;
    font-family: "Jetbrains Mono";
}

.title p {
    margin-bottom: 1%;
}

.title {
    color: #9DD1F1;
    text-shadow: 0 0 1px #81c1e9, 0 0 1px #81c1e9, 0 0 1px #81c1e9, 0 0 1px #81c1e9;
    font-weight: bold;
    font-size: 4vh;
    text-align: center;
    margin-top: auto;

}

.title h3,
a {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    color: inherit;
    font-size: 3vh;
}

.title a {
    text-decoration: underline;
}

.container {
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.box {
    background-color: #8ebddb;
    border-radius: 15px;
    border: solid #ADD9EF;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-a {
    margin: 1%
}

.box p {
    font-size: small;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 0px;
}

.box img {
    margin-top:8%;
    height: 50%;
    width: 50%;
}

.profile img {
    top: 45%;
    position: relative;
    border-radius: 50%;
    border: solid thick #6fabd0;
    display: block;
    width: auto;
    height: auto;
    max-width: 15vh;
    margin: 40px auto;
}

.credit {
    position: fixed;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    white-space: nowrap;
    color: #9DD1F1;
    font-weight: bold;
    font-family: Jetbrains Mono;
  }