body {
    background-color: #A09BE7;
    font-family: "Jetbrains Mono";
}

.title {
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-top: 10%;
}

.box {
    background-color: #8e89e6;
    border-radius: 15px;
    border: solid #6f68cb;
    font-size: small;
    text-align: center;
    width: 100px;
    height: 100px;
}

.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
}

.content a {
    color: rgb(70, 87, 153);
    font-size: small;
    margin: 0px;
}

.content img {
    height: 40%;
    width: 40%;
}