<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Hello!</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link rel="stylesheet" href="/dist/output.css">
    <script src="https://kit.fontawesome.com/d95c0155a1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="profile">
        <img src="https://ik.imagekit.io/sqh6ln4ahu/pfp_ty4SC9TAS.png"></img>
    </div>
    <div class="title">
        <p>Hello There!</p>
        <h3>I am a Fullstack Developer from Indonesia 🇮🇩, Currently learning<a href="https://www.java.com/en/" target="_blank">Java</a>,<a href="https://kotlinlang.org/">Kotlin</a>, and some more!</h3>
    </div>
    <div class="container">
        <a class="box-a" href="https://discord.com/users/418362484433485824" target="_blank">
            <div class="box hover:bg-blue-300 bg-inherit transition-all duration-200">
                <img src="https://ik.imagekit.io/sqh6ln4ahu/discord_FzSvxOddU.png">
                <p>Meong#2093</p>
            </div>
        </a>
        <a class="box-a" href="https://github.com/Brad1944" target="_blank">
            <div class="box hover:bg-blue-300 bg-inherit transition-all duration-100">
                    <img class="m-auto" src="https://ik.imagekit.io/sqh6ln4ahu/github_catMH-K9X.png">
                    <p>Brad1944</p>
            </div>
        </a>
    </div>
    <div class="credit">Made with <i class="fa-solid fa-heart"></i> by Afif87123</div>
</body>

</html>